*,
*::after,
*::before:not(i) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body {
    line-height: 1.6;
    font-size: 16px;
}

header {
    color: white;
    background-color: rgb(10, 100, 100);
    margin-bottom: 30px;
}

header h1 {
    font-size: clamp(15px, 10vw, 30px);
    text-align: center;
    max-width: 768px;
    margin: auto;
}

main{
    padding: 30px;
}
main p {
    max-width: 768px;
    margin: auto;
    margin-bottom: 20px;
}

header,
footer {
    background-color: rgb(10, 100, 100);
    color: #fff;
    padding: 20px;
    text-align: center;
    padding: 30px;
}

.highlight {
    color: rgb(250, 50, 150);
}

.cta {
    width: 80%;
    max-width: 300px;
    margin: auto;
    text-align: center;
    padding: 8px 15px;
    border-radius: 10px;
    font-weight: 700;
    cursor: pointer;
    background-color: hsl(330deg, 95%, 59%);
    color: white;
    transform: translateY(0);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5), 5px 5px 5px rgba(0, 0, 0, 0.5);
    transition: all 0.3s;
    font-weight: 900;
}
