/* Cards */
$card-color1: rgb(19, 161, 19);
$card-color2: rgb(17, 192, 17);
$card-color3: rgb(100, 28, 167);
$card-color4: rgb(68, 124, 197);
$card-color5: rgb(172, 91, 24);
$card-color6: rgb(197, 166, 65);


.cubic{
    /* cubic background */ 
    background: repeating-radial-gradient(circle, transparent, transparent 13.6px, #0a6464 13.6px, #0a6464 17.6px), repeating-radial-gradient(circle, transparent, transparent 13.6px, #0a6464 13.6px, #0a6464 17.6px), rgba(10, 100, 100, 0.5);
    background-size: 78px 78px;
    background-position: 0 0, 39px 39px, 78px 39px;
    background-color: rgba(10, 100, 100, 0.5);
}
.cards-container{
    width: min(900px, 90%);
    margin: auto;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    gap: min(30px, 5%);
    .card{
        padding-top: 20px;
        width: min(300px, 100%);
        height: 100%;
        border-radius: 20px;
        overflow: hidden;
        box-shadow: 5px 5px 10px black;
        background-color: white;

        .card-draw{
            height: 200px;
            background-image: url(../images/home-2.svg);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
        &:nth-child(2){   
            transform: translateY(30px);           
            .card-draw{        
                background-image: url(../images/love-2.svg);  
            }     
            .waves-container{
                .card-wave{
                    fill: $card-color4;
                    &:last-child{
                        fill: $card-color3;
                    }
                }
            }            
            .card-text{
                background: linear-gradient(0deg, $card-color4 0%, $card-color3 100%);
            }
        }      
        &:nth-child(3){ 
            transform: translateY(60px); 
            .card-draw{            
                background-image: url(../images/money-2.svg);   
            }
            .waves-container{
                .card-wave{
                    fill: $card-color6;
                    &:last-child{
                        fill: $card-color5;
                    }
                }
            }            
            .card-text{
                background: linear-gradient(0deg, $card-color6 0%, $card-color5 100%);
            }         
        }      

        .waves-container{
            margin-top: 50px;
            position: relative;
            .card-wave{
                position: absolute;
                top:-50px;
                height: 50px;
                width: 100%;
                fill: $card-color2;
                &:last-child{
                    fill: $card-color1;
                }
            }
        }

        .card-text{
            height: 100%;
            background: $card-color1;
            background: linear-gradient(0deg, $card-color2 0%, $card-color1 100%);
            padding: 20px;
            padding-bottom: 50px;
            font-size: 1.2rem;
            font-weight: 900;
        }
    }
}

@media screen and (max-width: 700px) {
    .cards-container{
        display: flex;
        flex-direction: column;
        width: min(500px, 90%);
        .card{
            width: 100%;
        }
    }
}